* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}
.app__left {
  flex: 0.9;
}
.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.app__stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
